
/* .book-header {
    border-bottom: 2px solid #007bff;
} */
body{
    background-image: url('/images/back.jpg');
}
input[type="text"],input[type="number"]{
    opacity: 0.85;
}

.my-p-design{
 margin-bottom: 3px;
 font-size: 1.5rem;
}
